
	GtkLabel {
		font: 11pt Roboto;
	}
	
	
    #WINDOW{
		
		background-color: #ffffff;
		
	}

	#IMAGE_BOX{

		background-color: #000000;
			
	}
	
	#PROCESS_NAME{
		color: #000000;
		font: 14pt Roboto Bold;

	}

	#PROCESS_STATUS{
		color:#3366cc;
		font: 11pt Roboto Bold Italic;

	}

	#PROCESS_STATUS_ERROR{
		color:#CC0000;
		font: 11pt Roboto Bold Italic;

	}

	#MSG_ERROR_LABEL {

		color: #CC0000;
		font: 11pt Roboto; 
	}

	
		
	#ROBOTO_MEDIUM_GRAY{
			color: #A0A0A0;
			font: 14pt Roboto;
	}
		
	#SHORT_DESCRIPTION{
			color: #3366cc;
			font: 12pt Roboto Light;
	}

	
