Source: dpkg-unlocker
Section: python
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es> 
Build-Depends: debhelper (>=9),
               dh-python,
               python3-setuptools,
               python3-all,
               python3-poinstaller,
               pybuild-plugin-pyproject,
               llxsrchelper,
               zero-dev
Standards-Version: 4.1.2
Homepage: http://lliurex.net
Vcs-Browser: https://svn.lliurex.net/xenial/epi

Package: python3-dpkgunlocker
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description:Dpkg-Unlocker. Core Library package
  Provides the core library required by the dpkgunlocker-cli  and dpkgunlocker-gui packages

Package: dpkgunlocker-cli
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3-dpkgunlocker (= ${binary:Version}), python3-clint
Description:Dpkg-Unlocker. CLI tool
  Provides a version for terminal (dpkg-unlocked-cli) of dpkg-unlocker

Package: dpkgunlocker-gui
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3-dpkgunlocker (= ${binary:Version}),qml-module-termwidget
Recommends: dpkgunlocked-cli (= ${binary:Version})
Description:Dpkg-Unlocker. GUI tool
  Provides the graphic version (dpkg-unlocker-gui) of dpkg-unlocker

