[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Dpkg-Unlocker
Name[es]=Dpkg-Unlocker
Name[ca_ES@valencia]=Dpkg-Unlocker
Comment=Program to unlock lliurex-up, dpkg and apt
Comment[es]=Programa para desbloquear lliurex-up, dpkg y apt 
Comment[ca_ES@valencia]=Programa per a desbloquejar lliurex-up, dpkg i apt 
GenericName=dpkg-gunlocker
Type=Application
Exec=sh -c "pkexec /usr/sbin/dpkg-unlocker-gui"
TryExec=/usr/sbin/dpkg-unlocker-gui
Icon=dpkg-unlocker-gui
Terminal=false
StartupNotify=true
NoDisplay=true
Categories=GNOME;GTK;LliureX-Administration;
